# Patch/diff artifacts.
*.diff
*.orig
*.patch
*.rej
interdiff*.txt

# emacs artifacts.
*~
\#*\#

# VI swap file
*.swp

# Hidden files.
.DS*
.htaccess
.project

# Windows links.
*.lnk

# Temporary files.
tmp*

# Excludes for Project Tree
# (from origin)
*.pyc
*.pyo
__pycache__/
*.*~
*~
*#
.mypy_cache
*.swp
# extra
/_archive/
/dist/
.ipynb

# Exclude IDE's project directory
*.sublime-project
*.sublime-workspace
*.tasks
.idea
.vscode
